body {
    background-image: url('img-banner.jpg');
}

.btn-presenca {
    padding: 15px 25px;
    font-size: 20px;
    margin-bottom: 10px;
    border-color: #0066cc;
    background-color: #00ccff;
   }
